@import url("./__title/lead__title.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__image-figure/lead__image-figure.css");
@import url("./__image/lead__image.css");
@import url("./__caption/lead__caption.css");

.lead {
  max-width: 984px;
  max-height: 1005px;
  margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .lead {
    max-width: 320px;
    max-height: 406px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .lead {
    max-width: 768px;
    max-height: 862px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
  .lead {
    max-width: 928px;
    max-height: 962px;
  }
}
