.footer__menu-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .footer__menu-list {
    flex-direction: column;
  }
}
