.header__link {
  text-decoration: none;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 4px;
  transition: opacity 0.5s linear;
}

.header__link:first-child {
  padding-right: 18px;
}

.header__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 640px) {
  .header__link {
    padding-top: 10px;
    padding-bottom: 6px;
  }
}
