@import url("./__menu-list/footer__menu-list.css");
@import url("./__link/footer__link.css");
@import url("./__copyright/footer__copyright.css");

.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px auto 0;
  padding-bottom: 24px;
  min-height: 18px;
  max-width: 1184px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    margin-top: 64px;
    flex-direction: column;
    min-height: 0;
  }
}
